nav {
    width: 100%;
    height: 65px;
    background: #344051;
}

.logo1 {
    padding-left: 388px;
    float: left;
}

.menu {
    float: left;
    padding-left: 432px;
}

.menu li {
    float: left;
    line-height: 60px;
    color: antiquewhite;
    margin-right: 40px;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
}

.main {
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.jpg) center/cover no-repeat;
}

.title_container {
    float: left;
    margin: 432px 0 0 404px;
    color: #2c384a;
    text-align: center;
}

.title_container h1 {
    font-size: 60px;
    font-weight: bold;
}

.title_container h4 {
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
}

.title_container input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 15px;
    padding: 0px 16px;
    margin: 58px 14px 0 14px;

}

.about_me {
    width: 100%;
    height: 715px;
    float: left;
    font-size: 33px;
    text-align: center;
}

.block1 h2 {
    padding-top: 107px;
    text-transform: uppercase;
}

.cherta {
    float: none;
    border-bottom: 4px solid #d17700;
    margin-bottom: 30px;
    align-content: center;
    padding: 1px 25px;
    margin: 30px 925px;
    /* margin-left: 40px; */
}

.block1 p {
    text-align: center;
    font-size: 15px;
    margin-top: 450px;
}

.block1 {
    width: 100%;
    background: url(../img/minboy.png)860px 224px no-repeat;
}


.block1 input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 15px;
    padding: 0px 16px;
    margin: 58px 14px 0 14px;
}

.skills {
    width: 100%;
    height: 520px;
    float: left;
    margin: 110px 0 852px 0;
    background: url(../img/bg2.jpg) center/cover no-repeat;
}

.skills_container {
    width: 1094px;
    margin: 0 auto;
    padding-top: 110px;
    padding-bottom: 96px;
}

.skills_container h2 {
    text-align: center;
    width: 214px;
    font-size: 33px;
    margin: 0px auto 30px;
    padding-bottom: 5px;
    text-transform: uppercase;

}

.skills_about {
    float: left;
    width: 200px;
    text-align: center;
    margin: 0 36px;
}

.skills_about img {
    margin-bottom: 40px;
    height: 40px;
}

.skills_about h3 {
    font-size: 18px;
    color: #cf7600;
    margin-bottom: 20px;
}

.skills_about p {
    font-size: 16px;
}

#cherta1 {
    border-bottom: 4px solid #d17700;
    align-content: center;
    padding: 1px 25px;
    margin-left: 522px;
}

.cases {
    width: 100%;
    height: auto;
    float: left;
}

.cases_container {
    width: 100%;
    margin: 0 auto;
}

.cases_container h2 {
    text-align: center;
    width: 214px;
    font-size: 33px;
    margin: 0px auto 30px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.cases_container h4 {
    text-align: center;
    font-size: 16px;
    margin-bottom: 40px;
}



.fotka {
    width: 100%;
    margin-bottom: 40px;
}

.info {
    height: 0px;
    width: 200px;
    margin-right: 82px;
}
    
 .info   h3{
    font-size: 25px;
    
}
.info p{
    font-size: 17px;
    margin: 16px 0;
}

.info a{
    margin-top: 25px;
    display: block;
    width: 100%;
    background: #63b5ae;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 8px;
}

.name_project {
    float: right;
    height: 125px;
    width: 825px;
    margin-bottom: 400px;
}

.name_project h3{
    font-size: 25px;
    margin-bottom: 10px;
}
.name_project p{
    font-size: 20px;
    
}

.calculator{
    margin-top: 300px;
    padding-bottom: 84px;
}

.calculator_container{
    width: 1080px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    margin: 0 auto;
    padding-top: 74px;
}

.calculator_container h2{
     text-align: center;
     width: 400px;
     font-size: 43px;
     margin: 0px auto 50px;
}

.contentForm{
    width: 890px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.contentForm h3{
    font-size: 29px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.contentForm select{
    margin-bottom: 44px;
}
